.idea/
.vscode/
*.exe
*.pyc
*jwtkey.txt
*.key
*.pub

as-task-launcher/as-task-launcher
as-file-sender-gateway/as-file-sender-gateway
as-file-receiver-oem/as-file-receiver-oem
edgex-res/ca
edgex-res/ssh-keys
edgex-res/remote/sshd-remote/authorized_keys
ms-data-organizer/ms-data-organizer
ms-file-receiver-gateway/ms-file-receiver-gateway
ms-file-sender-oem/ms-file-sender-oem
ms-file-watcher/ms-file-watcher
ms-job-repository/ms-job-repository
as-pipeline-sim/as-pipeline-sim
as-pipeline-val/as-pipeline-val
*coverage.out
tools/setup-oem/zip/aicsd.zip
*report.html
docs/*
log-analytics/setup/state
log-analytics/filebeat-win/*.txt
log-analytics/filebeat-win/*.md
models/.ipynb_checkpoints
models/.virtual_documents
*checkpoint.py
