########################################################################
 # Copyright (c) Intel Corporation 2023
 # SPDX-License-Identifier: BSD-3-Clause
########################################################################

version: '3.7'
networks:
  edgex-network:
    driver: bridge
services:
  data-organizer:
    command: -cp=consul.http://edgex-core-consul:8500 --registry --confdir=/res -s
    environment:
      EDGEX_SECURITY_SECRET_STORE: "true"
      SECRETSTORE_HOST: edgex-vault
      SECRETSTORE_RUNTIMETOKENPROVIDER_ENABLED: true
      SECRETSTORE_RUNTIMETOKENPROVIDER_HOST: edgex-security-spiffe-token-provider
      SERVICE_HOST: data-organizer
      APPLICATIONSETTINGS_JOBREPOHOST: job-repository
      APPLICATIONSETTINGS_TASKLAUNCHERHOST: task-launcher
      APPLICATIONSETTINGS_FILESENDERHOST: file-sender-oem
      WRITABLE_LOGLEVEL: DEBUG
    hostname: data-organizer
    image: aicsd/ms-data-organizer:0.0.0-dev
    networks:
      edgex-network: {}
    ports:
      - 127.0.0.1:59781:59781/tcp
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: 2002:2001
    volumes:
      - ${HOME}/data/oem-files:/tmp/files
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
  file-sender-oem:
    command: -cp=consul.http://edgex-core-consul:8500 --registry --confdir=/res -s
    environment:
      EDGEX_SECURITY_SECRET_STORE: "true"
      SECRETSTORE_HOST: edgex-vault
      SECRETSTORE_RUNTIMETOKENPROVIDER_ENABLED: true
      SECRETSTORE_RUNTIMETOKENPROVIDER_HOST: edgex-security-spiffe-token-provider
      SERVICE_HOST: file-sender-oem
      APPLICATIONSETTINGS_JOBREPOHOST: job-repository
      APPLICATIONSETTINGS_FILERECEIVERHOST: file-receiver-gateway
      WRITABLE_LOGLEVEL: DEBUG
    hostname: file-sender-oem
    image: aicsd/ms-file-sender-oem:0.0.0-dev
    networks:
      edgex-network: {}
    ports:
      - 127.0.0.1:59782:59782/tcp
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: 2002:2001
    volumes:
      - ${HOME}/data/oem-files:/tmp/files
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
  file-watcher:
    command: -cp=consul.http://edgex-core-consul:8500 --registry --confdir=/res -s
    environment:
      EDGEX_SECURITY_SECRET_STORE: "true"
      SECRETSTORE_HOST: edgex-vault
      SECRETSTORE_RUNTIMETOKENPROVIDER_ENABLED: true
      SECRETSTORE_RUNTIMETOKENPROVIDER_HOST: edgex-security-spiffe-token-provider
      SERVICE_HOST: file-watcher
      APPLICATIONSETTINGS_DATAORGHOST: data-organizer
      APPLICATIONSETTINGS_FOLDERSTOWATCH: /tmp/files/input
      WRITABLE_LOGLEVEL: DEBUG
    hostname: file-watcher
    image: aicsd/ms-file-watcher:0.0.0-dev
    networks:
      edgex-network: {}
    ports:
      - 127.0.0.1:59780:59780/tcp
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: 2002:2001
    volumes:
      - ${HOME}/data/oem-files:/tmp/files
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
  file-receiver-oem:
    command: -cp=consul.http://edgex-core-consul:8500 --registry --confdir=/res -s
    depends_on:
      - remote-spire-agent
    environment:
      EDGEX_SECURITY_SECRET_STORE: "true"
      SECRETSTORE_HOST: edgex-vault
      SECRETSTORE_RUNTIMETOKENPROVIDER_ENABLED: true
      SECRETSTORE_RUNTIMETOKENPROVIDER_REQUIREDSECRETS: redisdb
      SECRETSTORE_RUNTIMETOKENPROVIDER_HOST: edgex-security-spiffe-token-provider
      SERVICE_HOST: file-receiver-oem
      APPLICATIONSETTINGS_JOBREPOHOST: job-repository
      APPLICATIONSETTINGS_FILESENDERHOST: file-sender-gateway
      APPLICATIONSETTINGS_OUTPUTFOLDER: /tmp/files/output
      WRITABLE_LOGLEVEL: DEBUG
    hostname: file-receiver-oem
    image: aicsd/as-file-receiver-oem:0.0.0-dev
    networks:
      edgex-network: {}
    ports:
      - 127.0.0.1:59787:59787/tcp
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: 2002:2001
    volumes:
      - ${HOME}/data/oem-files:/tmp/files
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
  sshd-remote:
    image: edgex-sshd-remote:2.3.0
    build:
      context: edgex-res/remote/sshd-remote
    container_name: edgex-sshd-remote
    hostname: edgex-sshd-remote
    ports:
      - "2223:22"
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      edgex-network:
        aliases:
          - edgex-core-consul
          - edgex-redis
          - edgex-security-spire-server
          - edgex-security-spiffe-token-provider
          - edgex-vault
          - job-repository
          - file-receiver-gateway
          - task-launcher
          - file-sender-gateway
    tmpfs:
      - /run
    volumes:
      - spire-remote-agent:/srv/spiffe/remote-agent:z
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
  remote-spire-agent:
    build:
      context: edgex-res/remote/remote-spire-agent
    command: docker-entrypoint.sh
    container_name: edgex-remote-spire-agent
    depends_on:
      - sshd-remote
    hostname: edgex-security-spire-agent
    image: nexus3.edgexfoundry.org:10004/security-spire-agent:2.3.0
    networks:
      edgex-network: { }
    pid: host
    privileged: true
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /run
    user: root:root
    volumes:
      - spire-remote-agent:/srv/spiffe/remote-agent:z
      - /tmp/edgex/secrets/spiffe:/tmp/edgex/secrets/spiffe:z
      - /var/run/docker.sock:/var/run/docker.sock:rw
volumes:
  spire-remote-agent: {}
